.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 75px;
  padding: 25px;

  position: fixed;
  top: 0;
  z-index: 3;

  background-color: var(--light-green);
  box-shadow: 2px 2px 10px var(--light-green);
  border-bottom: var(--dark-green) 1px solid;

  font-family: Oswald;
  font-size: clamp(30px, 2.5vw, 40px);
  letter-spacing: 1.8px;
  color: white;
}

.header-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  
  margin-left: 0;
  margin-right: 10%;
}

.header-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  color: white;
}

.header-logo-title {
  display: none;
}

.header-logo-container svg {
  transform: scale(0.6);
  transform-origin: center;
  margin-right: 0;
}

.nav-visibility-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 10%;
  height: 50px;
}

.menu-icon {
  width: 30px;
  height: 30px;
  position: relative;
}

.menu-icon-line {
  background: white;
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.5s, width 0.5s;
}

.closed #line-1 {
  transform: translate(-50%, -15px);
}

.closed #line-2 {
  transform: translate(-50%, -50%);
}

.closed #line-3 {
  transform: translate(-50%, 10px);
}

.open #line-1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.open #line-2 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.open #line-3 {
  width: 0;
}

@media screen and (min-width: 375px) {
  .header-logo-container svg {
    transform: scale(0.75);
  }
}


@media screen and (min-width: 540px) {
  .header-logo-container svg {
    transform: scale(0.75);
    margin-right: 0;
  }
}


@media screen and (min-width: 768px) {

  .header-logo-container svg {
    transform: scale(0.75);
    transform-origin: center;
    margin-right: 0;
  }
}


@media screen and (min-width: 820px) {
  .header-logo-container svg {
    margin-right: 20px;
  }
}


@media screen and (min-width: 1200px) {
  .header-container {
    height: 80px;
    justify-content: flex-end;
  }

  .header-logo-container {
    width: 60%;
    margin-left: 0;
    margin-right: 20%;
  }

  .header-logo-container svg {
    transform: scale(1);
    transform-origin: left;
    margin-right: 25px;
  }

  .header-logo-title {
    display: block;
  }

  .nav-visibility-icon-container {
    width: 20%
  }

  .menu-icon {
    display: none;
  }

}