.layout-container {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  
  background: #efefef;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.layout-container::-webkit-scrollbar {
  display: none;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: calc(100vh - 75px);
  padding: 25px;
  margin-right: 0;

  background: #efefef;
}


@media only screen and (min-width: 375px) {

}


@media only screen and (min-width: 481px) {
  .body-container {
    padding: 25px 50px;
  }
}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1200px) {
  .layout-container {
    justify-content: flex-end;
  }

  .body-container {
    width: 60%;
    min-height: calc(100vh - 80px);
    margin-right: calc(20%);
  }
}


@media only screen and (min-width: 1600px) {

}