.layout-container {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  
  background: #efefef;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.layout-container::-webkit-scrollbar {
  display:none;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 60%;
    height: 100%;
    min-height: calc(100vh - 100px);
    padding: 25px 50px;
    margin-right: calc(20vw - 100px);

    background: #efefef;
}

@media screen and (max-width: 1200px), screen and (max-device-width: 1200px) {
  .layout-container {
    justify-content: center;
  }


  .body-container {
    width: 100%;
    margin-right: 0px;
    padding: 25px 50px;
  }
}

@media screen and (max-width: 912px), screen and (max-device-width: 912px) {

}

@media screen and (max-width: 768px), screen and (max-device-width: 768px) {

}

@media screen and (max-width: 540px), screen and (max-device-width: 540px) {
  .body-container {
    padding: 25px; 
  }
}
