.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 20%;
  height: calc(100vh - 100px);

  position: fixed;
  top: 100px;
  left: 0px;
  z-index: 2;

  background: var(--light-green);
  box-shadow: 2px 2px 10px var(--light-green);

  backdrop-filter: blur(10px);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.nav-link {

  width: 100%;
  padding: 25px;

  border-bottom: var(--dark-green) 1px solid;

  /* font-family: helvetica; */
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-align: left;

}

.nav-link:hover {
  background: #f39c12;
  font-size: 28px;
}

#blog-link {
  width: 100%;

  background: #f39c12;
  color: white;
  border: white 5px solid;
}

#blog-link:hover {
  background-color: white;
  color: var(--orange);
  border: var(--orange) 5px solid;
}

.nav-link:first-of-type {
  border-top: var(--dark-green) 1px solid;
}

@media screen and (max-width: 1200px), screen and (max-device-width: 1200px) {
  .nav-container {
    width: 100%;
  }

  .nav-link {
    width: 100%;
  }

  #blog-link {
    width: 100%;
  }

  .visible {
    display: flex;
  }

  .hidden {
    display: none;
  }
}


@media screen and (max-width: 912px), screen and (max-device-width: 912px) {

}

@media screen and (max-width: 768px), screen and (max-device-width: 768px) {

}

@media screen and (max-width: 540px), screen and (max-device-width: 540px) {
  .nav-link {
    font-size: 1.5rem;
  }
}



.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-11-8 13:25:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
