.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: calc(100vh - 75px);

  position: fixed;
  top: 75px;
  left: 0;
  z-index: 2;

  font-family: Oswald;

  background: var(--light-green);
  box-shadow: 2px 2px 10px var(--light-green);

  backdrop-filter: blur(10px);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.nav-link {
  width: 100%;
  padding: 25px;

  border-bottom: var(--dark-green) 1px solid;

  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-align: left;
}

.nav-link:hover {
  background: #f39c12;
  font-size: 28px;
}

.nav-link:first-of-type {
  border-top: var(--dark-green) 1px solid;
}

#blog-link {
  width: 100%;

  background: #f39c12;
  color: white;
  border: white 5px solid;
}

#blog-link:hover {
  background-color: white;
  color: var(--orange);
  border: var(--orange) 5px solid;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav-container {
    width: 20%;
    height: calc(100vh - 80px);
    top: 80px;
  }

  .visible {
    display: flex;
  }

  .hidden {
    display: flex;
  }
}


.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}