[build]
  command = "npm run build"
  publish = "dist/client"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/sitemap_index.xml"
  to = "/sitemap.xml"
  status = 301
  force = true