body {
  margin: 0px;
  padding: 0px;
}

#root {
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  background: #efefef;
}

:root {
  --light-green: #66905c;
  --dark-green: #415e4d;
  --grey-green: #4d5e52;
  --cream: #fff8dc;
  --black: #000000;
  --neon-yellow: #d7f704;
  --orange: #f39c12;

  --fs-title: clamp(2rem, 1rem + 2vw, 2.25rem);
  --fs-heading: clamp(1.5rem, 0.9rem + 1.25vw, 1.75rem);
  --fs-body: clamp(1.25rem, 0.9rem + 0.75vw, 1.5rem);
  --fs-label: clamp(1rem, 0.75rem + 0.4vw, 1.25rem);

  --lh-title: 1.15;
  --lh-heading: 1.25;
  --lh-body: 1.5;
  --lh-label: 1.35;

}

* {
  box-sizing: border-box;
}