
.player-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  
  width: 100%;
  min-height: 80px;
  padding: 1rem 0.75rem;

  border-bottom: 1px solid var(--grey);
  transition: background-color 0.2s ease;

  font-family: Arial, Helvetica, sans-serif;
}

.player-card:last-child {
  border-bottom: none;
}

.player-card:hover {
  background-color: #f8f9fa;
}

.player-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 0.25rem;
}

/* Ranking */
.player-ranking-container {
  width: 5%;
}

.player-ranking {
  font-size: var(--fs-ranking);
  line-height: 1;
  font-weight: 700;
}

/* Country */
.flag-container,
.country-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emojiFlag {
  padding: 0.15rem;
  background-color: var(--orange);
  border-radius: 0.25rem;
}

.country-name {
  padding: 0.15rem;
  margin: 0;

  font-size: var(--fs-value);
  line-height: 1;
  letter-spacing: 0.5px;

  text-align: center;
  text-transform: uppercase;
}

.flag-divider {
  color: var(--grey);
  font-size: var(--fs-label);
  line-height: 1;
  margin: 0 0.25rem;
}

/* Name */
.player-name-container {
  align-items: flex-start;
  overflow: hidden;
  flex: 1;
}

.player-name {
  margin: 0;

  color: var(--black);;
  font-size: var(--fs-name);
  line-height: 1.3;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.player-last-name {
  font-size: var(--fs-name);
  line-height: 1;
  font-weight: 700; 
}

.player-first-name {
  color: var(--grey);;
  font-size: var(--fs-value);
  font-weight: 400;
}

/* Stats - Points and Tournaments */
.player-points-container,
.player-tournaments-container {
  flex-shrink: 0;
}

.stat-value {
  font-size: var(--fs-value);
  color: var(--black);
  line-height: 1;
  font-weight: 600;
}

.stat-label {
  font-size: var(--fs-label);
  color: var(--grey);
  letter-spacing: 0.5px;
  line-height: 1;

  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




@media only screen and (min-width: 375px) {

}


@media only screen and (min-width: 481px)  {

}


@media only screen and (min-width: 768px) {
  .player-card {
    padding: 1.25rem 1rem;
    gap: 2rem;
  }

  .player-ranking {
    font-size: var(--fs-ranking)
  }

  .country-name {
    font-size: var(--fs-value)
  }

  .player-name {
   font-size: var(--fs-name)
  }

  .player-first-name {
    font-size: var(--fs-value)
  }

  .player-last-name {
    font-size: var(--fs-name)
  }

  .stat-value {
    font-size: var(--fs-value)
  }

  .stat-label, .flag-divider {
    font-size: var(--fs-label)
  }
}


@media only screen and (min-width: 1024px)  {

}


@media only screen and (min-width: 1200px)  {

}

@media only screen and (min-width: 1600px)  {

}