.player-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  width: calc(100% - 25px);
  padding: 10px;
  border-bottom: 1px solid grey;

  font-size: 20px;
  color: black;
  text-align: center;
}

.player-country-container, .country-name-container, .flag-container, .player-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.player-country-container {
  flex-direction: column;
}

.player-name-container {
  width: 30%;
  flex-grow: 1;
}

.player-country-container {
  width: 30%;
}

.player-tournaments, .player-points {
  width: 20%;
}

.player-ranking{
  width: 5%;
}

.player-country, .emojiFlag, .player-name {
  margin: 5px;
}

.player-name {
  width: 100%;
}

.emojiFlag {
  text-align: center;
  vertical-align: middle;

  height: 50px;
  line-height: 50px;
  margin-bottom: 0px;
}

.player-ranking {
  font-weight: bold;
}

@media screen and (max-width: 540px), screen and (max-device-width: 540px) {
  .player-card {
    font-size: 16px;
  }
}

@media screen and (min-width: 344px), screen and (max-device-width: 344px) {

  .player-card {
    width: 100%;
    font-size: 14px;
  }

  
}