.rankings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: calc(100vw - 40vw - 100px);
  width: calc(100% - 25px);
  /* width: 100%; */
}

.rankings-title {
  font-size: 35px;
  text-align: center;
  letter-spacing: 1.2px;
}

.rankings-date {
  text-align: center;
  font-size: 20px;
  color: black;
}

.players-container, .no-data-container, .error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}

.no-data-container h2, .error-container h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 28px;
  color: #2d2d2d;
  text-align: center;
  letter-spacing: 1.8px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: calc(100vw - 60vw - 100px);
  height: calc(100vh - 100px);
}

.loader-container svg {
  transform: scale(2);
  transform-origin: center;

  margin-top: 30vh;
}

@media screen and (max-width: 768px), screen and (max-device-width: 768px) {

  .rankings-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 540px), screen and (max-device-width: 540px) {

  .rankings-container {
    width: 100%;
  }

  .rankings-title {
    font-size: 23px;
  }
}


.heartbeat {
	-webkit-animation: heartbeat 10s ease-in-out infinite both;
	        animation: heartbeat 10s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-15 0:16:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}